html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

p {
	margin: 0 0 10px;
}

.container {
	width: 90%;
	margin: 0 auto;
}

h1, h2 {
	margin-top: 0;
	font-weight: 300;
}

body {
	background-color: #EDECE4;
	color: #474746;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}

.container {
	margin-top: 50px;
}

.row-fluid {
	margin-bottom: 20px;
}

.box {
	min-height: 180px !important;
	float: left;
}

.box-inner {
	background-color: #FFFFFF;
	border: 2px solid #ECEEE5;
	margin: 0 10px;
}

.box-top {
	padding: 20px;
}

.box-bottom {
	background-color: #FFFFFF;
	border-top: 2px solid #ECEEE5;
	padding: 10px 20px 0 20px;
}

.box-bottom p {
	color: #A8A8A8;
	font-weight: 200;
}

.box h2 {
	text-align: center;
}

.box h2 a {
	color: #474746;
}

.box h2 a:hover {
	text-decoration: none;
}

.jenkins-build-result {
	text-align: center;
	padding-top: 15px;
}

.jenkins-build-result a, .jenkins-build-result span {
	font-weight: 700;
	font-size: 25px;
	text-transform: uppercase;
}

.jenkins-build-result-history {
	text-align: right;
	font-size: 30px;
	float: right;
}

.jenkins-build-timestamp {
	float: left;
}

.success, .success:hover { color: #9EC14A; }
.failure, .failure:hover { color: #EB5721; }
.unknown, .unknown:hover { color: #F0C43D; }
.building, .building:hover {
	color: #0098DF;
	-webkit-animation: pulsate 2s ease-out infinite;
	-moz-animation: pulsate 2s ease-out infinite;
	-o-animation: pulsate 2s ease-out infinite;
	animation: pulsate 2s ease-out infinite;
}
.amber, .amber:hover { color: #F0D26E; }

.success:hover, .failure:hover, .building:hover, .unknown:hover {
	text-decoration: none;
}

@-webkit-keyframes pulsate {
	0% {  opacity: 0.5; }
	50% { opacity: 1.0; }
	100% {  opacity: 0.5; }
}

.clear { clear: both; }

#spinner {
	position: absolute;
	bottom: 0;
	left: 48%;
}


@media screen and (max-width: 320px) {
	.box { width: 250px; }
}
@media screen and (min-width: 321px) and (max-width: 639px) {
	.box { width: 190px; }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
	.box { width: 200px; }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
	.box { width: 290px; }
}
@media screen and (min-width: 1280px) and (max-width: 1599px) {
	.box { width: 350px; }
}
@media screen and (min-width: 1600px) {
	.box { width: 400px; }
}
