html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

p {
	margin: 0 0 10px;
}

.container {
	width: 90%;
	margin: 0 auto;
}

h1, h2 {
	margin-top: 0;
	font-weight: 300;
}

body {
	background-color: #EDECE4;
	color: #474746;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
}

.row-fluid {
	margin-bottom: 20px;
}

.box {
	min-height: 180px !important;
	float: left;
}

.box-inner {
	background-color: #FFFFFF;
	border: 2px solid #ECEEE5;
	margin: 10px;
}

.box-top {
	padding: 20px;
}

.box-bottom {
	background-color: #FFFFFF;
	border-top: 2px solid #ECEEE5;
	padding: 10px 20px 0 20px;
}

.box-bottom p {
	color: #A8A8A8;
	font-weight: 200;
}

.box h1 {
	text-align: center;
}

.box h1 a {
	color: #474746;
}

.box h1 a:hover {
	text-decoration: none;
}

.jenkins-build-result {
	text-align: center;
	padding-top: 15px;
}

.jenkins-build-result a, .jenkins-build-result span {
	font-weight: 700;
	text-transform: uppercase;
}

.jenkins-build-result-history {
	text-align: right;
	font-size: 30px;
}

.success, .success:hover { color: #9EC14A; }
.failure, .failure:hover { color: #EB5721; }
.unknown, .unknown:hover { color: #F0C43D; }
.building, .building:hover {
	color: #0098DF;
	-webkit-animation: pulsate 2s ease-out infinite;
	-moz-animation: pulsate 2s ease-out infinite;
	-o-animation: pulsate 2s ease-out infinite;
	animation: pulsate 2s ease-out infinite;
}
.amber, .amber:hover { color: #F0D26E; }

.success:hover, .failure:hover, .building:hover, .unknown:hover {
	text-decoration: none;
}

@-webkit-keyframes pulsate {
	0% {  opacity: 0.5; }
	50% { opacity: 1.0; }
	100% {  opacity: 0.5; }
}

.clear { clear: both; }

#spinner {
	position: absolute;
	top: 5px;
	left: 49%;
}

#error {
	width: 50%;
	margin: 50px auto;
}

#error p {
	font-size: 18px;
	font-weight: 300;
}

#error #error-message {
	margin-top: 40px;
}

#error #error-full-message {
	background: #474746;
	margin-top: 40px;
	padding: 25px;
	color: #FFFFFF;
}

@media screen and (max-width: 320px) {
	.box { width: 100%; }
	.jenkins-build-result a, .jenkins-build-result span { font-size: 40px; }
	.jenkins-build-result-history { display: block; text-align: center; }
	.jenkins-build-timestamp { display: block; text-align: center; }
	.container { padding: 10px 0; }
}
@media screen and (min-width: 321px) and (max-width: 639px) {
	.box { width: 100%; }
	.jenkins-build-result a, .jenkins-build-result span { font-size: 40px; }
	.jenkins-build-result-history { float: right; }
	.jenkins-build-timestamp { float: left; }
	.container { padding: 10px 0; }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
	.box { width: 50%; }
	.jenkins-build-result a, .jenkins-build-result span { font-size: 40px; }
	.jenkins-build-result-history { float: right; }
	.jenkins-build-timestamp { float: left; }
	.container { padding-top: 50px; }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
	.box { width: 33.33%; }
	.jenkins-build-result a, .jenkins-build-result span { font-size: 35px; }
	.jenkins-build-result-history { display: block; text-align: center; }
	.jenkins-build-timestamp { display: block; text-align: center; }
	.container { padding-top: 50px; }
}
@media screen and (min-width: 1280px) and (max-width: 5000px) {
	.box { width: 33.33%; }
	.jenkins-build-result { margin-top: 30px; }
	.jenkins-build-result a, .jenkins-build-result span { font-size: 45px; }
	.jenkins-build-result-history { float: right; }
	.jenkins-build-timestamp { float: left; }
	.container { padding-top: 50px; }
}