<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jenkins Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href="/stylesheets/bootstrap.css" rel="stylesheet"> -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,700" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/javascripts/handlebars-1.0.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard.js"></script>
  </head>


  <body onload="Dashboard.init()">

    <script id="dashboard-error-template" type="text/x-handlebars-template">
      <div id="error">
        <h1>Error</h1>
        <p id="error-message">{{message}}</p>

        <p id="error-full-message">
          {{full_message}}
        </p>
      </div>
    </script>

    <script id="dashboard-template" type="text/x-handlebars-template">

      <div class="container">

        {{#each projects}}

          <div class="box">
            <div class="box-inner">

              <div class="box-top">

                <h1><a href="{{url}}">{{name}}</a></h1>

                <p class="jenkins-build-result">
                  {{#if builds}}

                    {{#if builds.0.building}}
                      <a class="building" href="{{builds.0.url}}">building</a>
                    {{else}}
                      <a class="{{builds.0.result}}" href="{{builds.0.url}}">{{builds.0.result}}</a>
                    {{/if}}

                  {{else}}
                    <span class="amber">n/a</span>
                  {{/if}}
                </p>
              </div>

              <div class="box-bottom">
                {{#if builds}}
                  <p class="jenkins-build-timestamp" title="{{current_build_timestamp}}">
                    {{builds.0.nice_timestamp}}
                  </p>
                {{else}}
                  <p class="jenkins-build-timestamp">No builds yet</p>
                {{/if}}

                <p class="jenkins-build-result-history">
                  {{#each builds}}
                    {{#if building}}
                      <a class="building" href="{{url}}" title="{{timestamp}}">&#8226;</a>
                    {{else}}
                      <a class="{{result}}" href="{{url}}" title="{{timestamp}}">&#8226;</a>
                    {{/if}}

                  {{/each}}
                </p>

                <div class="clear"></div>
              </div>

            </div>

          </div>

        {{/each}}

        <div class="clear"></div>

      </div>

    </script>

    <div id="rendered-body"></div>

    <div id="spinner" style="display: none;">
      <img src="/images/spinner.gif" />
    </div>

  </body>
</html>

